:root {
  --background-0: #242933;
  --background-1: #2E3440;
  --background-2: #3B4252;
  --background-3: #434C5E;
  --background-4: #4C566A;

  --foreground-1: #D8DEE9;
  --foreground-2: #E5E9F0;
  --foreground-3: #ECEFF4;

  --highlight: #88C0D0;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow: hidden;
}

.App {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 20px;
  color: var(--foreground-1);
  flex-wrap: wrap;
  overflow: hidden;
}

#background {
  background-color: var(--background-1);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.waves {
  width: 100%;
  height: 20%;
}

.card {
  width: 180px;
  height: 210px;
  border-radius: 10px;
  background-color: var(--highlight);
  box-shadow: 0px 0px 15px -5px black;
  margin: 20px;
  transition: 0.3s;
  color: var(--background-1);
}
.card:hover {
  transform: scale(1.1);
}
.card:active {
  transition: 0.1s;
  transform: scale(0.9);
}

.card h1 {
  font-size: 25px;
  padding-top: 30px;
}

.card svg {
  font-size: 80px;
  padding-top: 15px;
}

.card-link {
  text-decoration: none;
}

button {
  background-color: var(--highlight);
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  outline-width: 0px;
  color: var(--background-1);
  cursor: pointer;
  box-shadow: 0px 0px 15px -5px black;
}

.icon-button {
  width: 41px;
}

.action-input {
  display: flex;
  box-shadow: 0px 0px 15px -5px black;
  border-radius: 10px;
  margin: 10px;
}

.action-input input {
  box-shadow: none;
  margin: 0;
  border-radius: 10px 0px 0px 10px;
}

.action-input button {
  box-shadow: none;
  border-radius: 0px 10px 10px 0px;
  margin: 0;
}


/* File Transfer App */

.big-icon-button {
  z-index: 1;
  background-color: var(--highlight);
  padding: 10px;
  font-size: 37px;
  width: 61px;
  height: 61px;
  border-radius: 10px;
  border: none;
  outline-width: 0px;
  color: var(--background-1);
  cursor: pointer;
  box-shadow: 0px 0px 15px -5px black;
  margin: 10px;
}

.file {
  display: flex;
  align-items: center;
  word-break: break-word;
  padding: 10px;
  margin: 3px 0;
  text-align: left;
  transition: 0.2s;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.file:hover {
  background-color: var(--background-1);
}
.file:active {
  background-color: var(--background-2);
}

.file-list {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: var(--foreground-1);
  max-height: 500px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.file-list::-webkit-scrollbar {
  display: none;
}

.progress-bar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #5E81AC;
  left: 0;
  /* transition: 0.2s linear; */
}

.remove-button {
  cursor: pointer;
  margin-left: 10px;
  opacity: 0;
  transition: 0.2s;
  z-index: 0;
}
.file:hover .remove-button {
  opacity: 1;
}

/* Videocall App */

#camera {
  max-width: min(500px, 90vw);
  max-height: min(500px, 50vh);
  border-radius: 10px;
  box-shadow: 0px 0px 15px -5px black;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  background-color: black;
}

#call {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.incoming-video {
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
}

.item-title::after {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--foreground-1);
  opacity: 0.5;
  width: 135px;
  margin: 8px auto;
}

input {
  background-color: var(--background-3);
  color: var(--foreground-1);
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  outline-width: 0px;
  box-shadow: 0px 0px 15px -5px black;
}
::placeholder {
  color: var(--foreground-1);
  opacity: 0.5;
}

#panel {
  width: 270px;
  margin: 3vh 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

#username-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.clickable-text {
  color: var(--highlight);
  cursor: pointer;
}

.popup {
  position: absolute;
  top: 15%;
  background-color: var(--background-2);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -5px black;
  transform: translate(0, -50%);
  z-index: 4;
}

#button-tray {
  display: flex;
  position: absolute;
  z-index: 3;
  bottom: 5%;
  opacity: 1;
  transition: 0.2s;
}